<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Wesly De Andrade Moraes">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <link rel="stylesheet" href="../css/estilo.css">
  <script type="text/javascript" src="../js/script.js"></script>
  <title>Cadastrado Concluído</title>
</head>

<body>
  <main id="principal">
    <section id="tela_padrao">
      <h2>Cadastro concluído, comece as compras!</h2>
      <div>
        <a href="busca.produto.php">
          <button type="button" class="btn btn-primary">Ver Produtos</button>
        </a>
        <a href="../index.html">
          <button type="button" class="btn btn-primary">Home</button>
        </a>
      </div>
    </section>
  </main>
</body>

</html>
